/** Copyright © 2013 Arc90, Inc.
    See the file `license` for the license for this file. **/

html, body {
    width: 320px;
    height: 480px;
    font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
    background-color: #daf2be;
}

html, body, section, nav, ul, iframe {
    margin: 0;
    padding: 0;
}

header img {
    margin-top: 20px;
}

header h1 {
    font-family: 'Myriad Web', "Helvetica Neue", "Helvetica", arial, sans-serif;
    color: #3a5d10;
    margin: 10px 0;
    font-size: 1.4rem;
}

#tab-contents {
    text-align: center;

}

section > section {
    text-align: center;
    margin: 10px auto;
}

nav {
    /* in the zero-state, there are no tabs visible; we just show the "new tab" view */
    display: none;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

#suggestions h1 {
    margin: 5px 0;
    font-size: 1em;
}

#suggestions ul li {
    font-size: 0.8em;
    padding: 2px 0;
}

#suggestions ul li a {
    color: #447c00;
    text-decoration: none;
}

#suggestions ul li a:hover {
    text-decoration: underline;
}

section#url-controls {
    width: 90%;
}

input#url {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    font-size: 1em;
    color: #666;
}

.tab-content {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
        box-shadow: 0 0 4px #333;
}

.tab {
    margin: 0px 5px 5px 0;
    padding: 0 2px 4px 2px;
    border: 0;
    cursor: pointer;
    cursor: hand;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tab.active {
    background-color: #678d3a;
}

.tab.inactive {
    background-color: #678d3a;
    opacity: 0.6;
}

.tab button {
    cursor: pointer;
    cursor: hand;
    background-color: transparent;
    border: none;
    shadow: none;
    font-size: 60%;
    font-weight: normal;
    color: #daf2be;
}

button.close {
    margin: 0 5px 0 0;
    padding: 0;
}

button.close:hover {
    backgound-color: black;
}

section#new {
    height: 480px;
    display: block;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    background: #fff;
}

footer {
    margin-top: 1em;
    font-size: 0.7em;
    color: #4f7324;
}

footer a {
    text-decoration: none;
    color: #447c00;
}

#error_message {
    color: red;
}

button#open {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #ffffff;
    padding: 6px 12px;
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#8bd92b),
        to(#3a5d10));
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #284505;
    -webkit-box-shadow:
        0px 1px 3px rgba(33,56,5,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
    box-shadow:
        0px 1px 3px rgba(33,56,5,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}
