html, body {
    width: 320px;
    height: 480px;
    font-family: "Helvetica";
}

html, body, section, nav, ul, iframe {
    margin: 0;
    padding: 0;
}

nav {
    /* in the zero-state, there are no tabs visible; we just show the "new tab" view */
    display: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

section#url-controls {
    width: 90%;
}

input#url {
    width: 90%;
}

.tab-content {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.tab {
    margin: 0 5px;
    border: 1px solid silver;
}

.tab.active {
    border-top: none;
}

.tab button {
    cursor: pointer;
    cursor: hand;
    background-color: transparent;
    text-decoration: underline;
}

section#new {
    height: 480px;
    display: block;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
