html, body {
    width: 320px;
    height: 480px;
    font-family: "Helvetica";
}

html, body, section, nav, ul, iframe {
    margin: 0;
    padding: 0;
}

nav {
    /* in the zero-state, there are no tabs visible; we just show the "new tab" view */
    display: none;
    border-top: 2px solid #eeeeee;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

section#url-controls {
    width: 90%;
}

input#url {
    width: 90%;
}

.tab-content {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.tab {
    margin: 0px 5px 5px 5px;
    border: 1px solid silver;
    cursor: pointer;
    cursor: hand;
}

.tab.active {
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
}

.tab.inactive {
    background-color: silver;
}

.tab button {
    cursor: pointer;
    cursor: hand;
    background-color: transparent;
    border: none;
    shadow: none;
    font-size: 60%;
    font-weight: normal;
}

button.close {
    margin: 0 5px 0 0;
    padding: 0;
}

button.close:hover {
    backgound-color: black;
}

section#new {
    height: 480px;
    display: block;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    margin-top: 10em;
    font-size: 70%;
}

#error_message {
    color: red;
}
